.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: center;

}

.left-nav > ul > li {
    font-family: $sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 5px;
    border-radius: 3px;
}

.right-nav > ul > li {
    font-family: $sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 3px;
}

.right-nav > ul > li:last-of-type {
    padding: 5px;
    border-radius: 3px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background-color: $lightest-gray;
}

.left-nav span {
    margin: 5px;
}


.right-nav i {

}