<h1>Create Account</h1>

<form action="<%= users_url %>" method="POST">
    <label >
        Username
        <input 
            type="text" 
            name="user[user_name]" 
            value="<%= @user.user_name%>" >
    </label>

    <label >
    Password
    <input type="password" name="user[password]" value=""></label>
    

    <input type="submit" value="Create">
</form>