<h1>New User</h1>

<%#= render 'form', user: %>

<form action="<%= users_url %>" method="POST">

<label>
    Email
    <input type="text" name="user[email]">
</label>

<input type="submit" value="Join!">
</form>