<h1>Log In</h1>

<form action="<%= sessions_url %>" method="POST">
    <label>
        Username
        <input type="text" name="user[user_name]" value="">
    </label>

    <label>
        Password
        <input type="password" name="user[password]" value=""></label>


    <input type="submit" value="Log In">
</form>